<h1>Your tasks!</h1>

<% @tasks.each do |task| %>
<%  if task.completed == false
      puts "no"
    else
      puts "yes"
    end %>
<h3><%= task.completed %> <%= link_to task.title, task_path(task) %><h3>
<% end %>
